{% extends 'base.html' %}

{% block title %}
Class List
{% endblock %}

{% block content %}
    <h4>Class List</h4>
    <h5>Student  Name: {{student.name}}</h5>
    <p>Mobile Number: {{ student.mobile_number }}</p>
    <a href="{{url_for("students.view_student", student_id= student['_id'])}}"
        class="btn btn-danger">
        View Student
    </a>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Time Slot(start time , end time)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for class_obj in classes %}
                <tr>
                    <td>{{ class_obj.date }}</td>
                    <td>{{ class_obj.start_time }} - {{class_obj.end_time}}</td>
                    <td>
                        <!-- create delete butotn , call delete class api -->
<!-- #<a href="/delete_class/{{ class_obj._id }}" class="btn btn-danger">Delete</a> -->

                        <a href="/students/{{student._id}}/delete_class/{{ class_obj._id }}" 
                            class="btn btn-danger">Delete Class</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
