{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <!-- <h1>View Student</h1> -->
        <div class="mt-4">
            <h4>Student Details</h4>
            <p>Name: {{ student.name }}</p>
            <p>Mobile Number: {{ student.mobile_number }}</p>
            <p>Joining Date: {{ student.joining_date }}</p>
            <p>Application Number: {{ student.application_number }}</p>
            <p>Amount: {{ student.amount }}</p>
            <p>Discount: {{ student.discount }}</p>
            <p>Amount Paid: {{ student.amount_paid }}</p>
            <p>Settle Amount: {{ student.settle_amount }}</p>
            <p>Course: {{ student.course }}</p>
            <p>Training Days: {{ student.training_days }}</p>
            <p>Notes: {{ student.notes }}</p>

            <p>
                <a href="/students/edit/{{ student._id }}" class="btn btn-danger">Edit</a>
           
                <a href="/students/delete/{{ student._id }}" class="btn btn-danger">Delete</a>
            </p>
        </div>
    </div>
{% endblock %}
