<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <!-- <a href="/" class="btn btn-primary home-button">Home</a>
        <div class="brand-name">DSkool</div> -->
        <!-- <hr/> -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">DSkool</a>
                  </div>
                <ul class="nav navbar-nav">
                    <li><a href="/students/add">Add Student</a></li>
                    <li><a href="/students/list">List Students</a></li>
                    <li><a href="/students/search">Search Student</a></li>
                </ul>

            </div>
        </nav>
    </header>

    
    <main>
        {% block content %}{% endblock %}
    </main>
    
    <footer>
        <!-- Add your footer content here -->
    </footer>
</body>
</html>
