{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="container">
    <h1>Welcome to DSkool Driving School</h1>
    <p>DSkool Driving School Management System is a comprehensive solution designed specifically for driving school owners like you. It streamlines and automates various administrative tasks, making it easier to manage your driving school efficiently.</p>
    <p>Key Features of DSkool Driving School Management System:</p>
    <ul>
        <li>Student Management: Easily add, search, and manage student records, including personal details, contact information, and course enrollment.</li>
        <li>Scheduling and Attendance: Effortlessly create and manage class schedules, track attendance, and monitor students' progress.</li>
        <li>Payments and Finances: Keep track of student fees, manage payments, and generate financial reports to maintain a transparent and organized financial system.</li>
        <li>Course Management: Define and customize driving courses, including different vehicle types, course durations, and fees.</li>
        <li>Staff Management: Maintain employee records, assign instructors to classes, and track their availability.</li>
    </ul>
    <p>Benefits of Using DSkool Driving School Management System:</p>
    <ul>
        <li>Save Time and Effort: Automate manual tasks, reduce paperwork, and streamline administrative processes.</li>
        <li>Improved Organization: Keep all student and business-related information in one centralized system for easy access and reference.</li>
        <li>Enhanced Efficiency: Optimize resource allocation, manage schedules effectively, and ensure smooth operations.</li>
        <li>Financial Transparency: Monitor income, track expenses, and generate financial reports to gain insights into your driving school's financial health.</li>
        <li>Better Customer Service: Provide a seamless experience to your students with accurate record-keeping, timely communication, and efficient course management.</li>
    </ul>
    <p>Get started with DSkool Driving School Management System today and take your driving school to new heights of success!</p>
    <p>Share DSkool Driving School Management System with your fellow driving school owners and help them streamline their operations too!</p>
</div>
{% endblock %}
