{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="mt-4">
            <h1>Upload Photo</h1>
            <form action="/upload_photo/{{student_id}}" 
                method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="file">Choose a photo:</label>
                    <input type="file" name="file" id="file" 
                        class="form-control-file" 
                        accept="image/*" required>
                </div>
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>
        </div>
    </div>
{% endblock %}
